.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail_column {
    flex-basis: 25%; 
    margin: 2rem;
    padding: 1rem;
    border: 1px dotted goldenrod;
}

.assignments {
    padding: 1rem 5rem;
}

